@charset "utf-8";
/* CSS Document */

/* CSS Variables */
:root {
	--white: #fff;
	--light: #CFD1D2;
	--dark: #9C9E9F;
	--black: #000;
	--blue: #547DBD;
	--red: #E32626;
	--green: #66B230;
	--orange: #F5994A;
	--shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
	}

html {
	font-family: Arial, "sans-serif";
}

body {
	margin: 0;
}

li a {
	text-decoration: none;
	cursor: pointer;
}

a {
	color: var(--black);
}

h2 {
	font-size: 2rem;
}

.btn {
  background: rgba(34, 34, 34, 0.3);
  color: var(--white);
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  border: 0;
}

.btn:hover {
	background-color: rgba(34, 34, 34, 0.4);
}

/* ----- MOBIL ----- */

/* Burger Menu */
#burger {
	z-index: 5;
	text-align: right;
	position: absolute;
	top: 1vh;
	right: 0;
	padding: 3%;
	cursor: pointer;
}
#burger img {
	width: 11vw;
	height: auto;
}

/* Navigation Desktop (Ul display none for mobile) */
#top {
	display: grid;
	grid-template-columns: 1fr 2fr;
	margin-bottom: 2vh;
	margin-top: 2vh;
}

#top img {
	width: 100%;
	height: auto;
	margin-left: 0;
}

#top ul {
	display: none;
	grid-template-columns: repeat(4, 1fr);
	list-style: none;
	padding: 0;
	margin: 0 0 0%;
	font-size: 1rem;
}

#top li a {
	text-decoration: none;
	display: block;
	text-align: left;
	padding: 2rem 0;
	border-left: 2px solid black;
}

/* Navigation Mobil */
nav ul {
	display: none;
	grid-template-columns: 1fr;
	list-style-type: none;
	background-color: var(--white);
	font-size: 1.2rem;
	padding: 0;
}

nav li {
	border-bottom: 1px solid black;
}

nav li a {
	text-decoration: none;
	color: var(--black);
	display: block;
	text-align: center;
	padding: 0.7rem 0;
}

.nav1 {
	color: var(--blue);
}

.nav2 {
	color: var(--green);
}

.nav3 {
	color: var(--red);
}

.nav4 {
	color: var(--orange);
	border-right: none;
}

.nav1:hover {
	color: var(--white);
	background-color: var(--blue);
}

.nav2:hover {
	color: var(--white);
	background-color: var(--green);
}

.nav3:hover {
	color: var(--white);
	background-color: var(--red);
}

.nav4:hover {
	color: var(--white);
	background-color: var(--orange);
}

/* Main */
/* Container */
#container {
	display: grid;
	margin: 0;
	padding: 1vh 0;
	grid-template-columns: 1fr;
}

/* Front Picture (index page) */
#front {
	background-image: url(..//img/front-mobil.jpg);
	background-size: cover;
	background-position: center;
	padding: 40% 1rem 5%;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
}

#front h2 {
	font-size: 3.4rem;
	margin-bottom: 1vh;
	color: var(--white);
}

#front p {
	font-size: 1.4rem;
	margin-top: 0;
	margin-right: 0;
	color: var(--white);
}

/* Front Page Wrapper */
#frontwrapper {
	margin: 15% 0
}

/* Front Page Section */
.text1 {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 0;
	margin: 5% 3% 20%;
}

.text1 img {
	width: 100%;
	height: auto;
}

.text1 h2 {
	font-size: 2.5rem;
}

.text1 ul {
	padding: 0 0 0 5vw;
	margin-bottom: 5vh;
}

.text1 ul li {
	font-size: 1.3rem;
	margin: 1.5vh 0;
}

.text1 ul li a:hover {
	text-decoration: underline;
}

/* Text Section (kontakt + nyhed) */
.text2 {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 2%;
	margin: 1vh 2vw 5vh;
	padding-bottom: 20%;
}

.text2 img {
	width: 100%;
	height: auto;
}

#map {
	width: 100%;
	height: 400px; 
}

#kontakt1 {
	display: block;
}

#kontakt2 {
	display: none;
}

.text2 form {
	padding: 2vh;
}

.text2 form p {
	margin: 0 0 2vh;
}

.text2 form input {
	margin: 0 0 2vh;
	width: 100%;
	height: 4vh;
	border: 1px thin black;
}

#tilmeld {
	width: 50%;
	margin: 2vh 0;
	background-color: #EEEEEE;
	border-width: 1px;
    border-style: thin;
	cursor: pointer;
}

#tilmeld:hover {
	background-color: #DDDDDD;
}

/* Text Section (omos + behandling + job + forskning) */
.text3 {
	display: grid;
	grid-template-columns: 1fr;
	padding: 2%;
	margin: 2% 3% 0;
	background-color: #EEEEEE;
}

.text3 h1 {
	font-size: 2rem;
	margin: 0;
}

.text3 p {
	margin-right: 0;
}

#h1-blue {
	color: var(--blue);
}

#h1-green {
	color: var(--green);
}

#h1-red {
	color: var(--red);
}

#h1-orange {
	color: var(--orange);
}

/* Drop Down Section */
.dropdown {
	display: grid;
	grid-template-columns: 1fr;
	padding: 2%;
	margin: 0 3% 2%;
	background-color: #EEEEEE;
}

.dropdown article {
	min-width: 100%;
}

.dropdown p {
	display: none;
}

.dropul {
	display: none;
	list-style-type: none;
}

.droph2 {
	color: var(--white);
	margin: 2.5% 0;
	padding: 3%;
	border-radius: 10px;
	font-size: 1.4rem;
}

.dropBlue {
	background-color: var(--blue);
}

.dropGreen {
	background-color: var(--green);
}

.dropRed {
	background-color: var(--red);
}

.dropOrange {
	background-color: var(--orange);
}

.droph4 {
	color: var(--black);
	padding: 2.5% 4%;
	margin: 5% 0 5% -12%;
	border-radius: 5px;
}

.droph4Blue {
	background-color: #a3bade;
}

.droph4Green {
	background-color: #aae680;
}

.droph4Red {
	background-color: #e76c6c;
}

.droptext {
	width: 100%;
	margin-left: -8%;
}

.dropNoUl {
	margin-left: 3%;
	width: 95%;
}

/* Footer */
footer {
	background-color: var(--black);
	color: var(--white);
	text-align: center;
	padding: 1% 10% 10%;
	display: grid;
	grid-template-columns: 1fr;
}

#footbox {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 5%;
	font-size: 1rem;
}

#genvej a:link {
	color: var(--white);
	text-decoration: none;
}

#genvej a:hover {
	text-decoration: underline;
}

#genvej a:active {
	color: var(--white);
}

#genvej a:visited {
	color: var(--white);
}

#footbox2 {
	display: grid;
	grid-template-columns: 1fr;
	margin: 5% 0;
}
	
#footsec1 {
	display: grid;
	grid-template-columns: 1fr;
}	

#footsec2 {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 10%;
	margin: 0 5%;
}

#footsec1 img {
	max-width: 100%;
	height: auto;
	margin: 10% 5%;
}

#footsec2 img {
	width: 100%;
	height: auto;
	margin: 0;
}

footer p em {
	cursor: pointer;
}

footer p em:hover {
	text-decoration: underline;
}

footer img {
	margin: 30% 25%;
}

.mail a:link {
	color: var(--white);
	text-decoration: none;
}

.mail a:hover {
	text-decoration: underline;
}

.mail a:active {
	color: var(--white);
}

.mail a:visited {
	color: var(--white);
}


/* ----- DESKTOP ----- */
@media screen and (min-device-width : 980px) and (max-device-width : 2000px) {
	
	.b1 img {
		width: 8%;
		margin-bottom: -6%;
	}
	
	.b2 {
		display: block;
	}

	.b2 img {
		width: 15%;
		margin-top: -2%;
	}
	
	/* Burger Menu */
	#burger {
		display: none;
	}
	
	/* Navigation Desktop */
	#top {
		grid-gap: 25%;
		margin-bottom: 0;
		margin-top: 2vh;
	}
	
	#top img {
		margin-left: 0.5rem;
		width: 70%;
	}
	
	#top ul {
		display: grid;
	}
	
	#top li a {
		text-align: center;
	}
	
	.nav4 {
		color: var(--orange);
		border-right: 2px solid black;
	}
	
	/* Navigation Mobile */
	nav {
		display: none;
	}
	
	nav li {
		border-bottom: none;
	}
	
	/* Navigation Menu */
	#menu1 ul {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		background-color: var(--blue);
	}
	
	#menu2 ul {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		background-color: var(--green);
	}
	
	#menu3 ul {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		background-color: var(--red);
	}
	
	#menu4 ul {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		background-color: var(--orange);
	}
	
	/* Main */
	/* Container */
	#container {
		display: grid;
		grid-template-columns: 1fr;
	}
	
	/* Front Picture (index page) */
	#front {
		background-image: url(..//img/front.jpg);
		padding: 7% 1rem;
	}
	
	#front h2 {
		font-size: 4.5rem;
		margin-top: 6vh;
	}
	
	#front p {
		margin-right: 55%;
	}
	
	/* Front Page Wrapper */
	#frontwrapper {
		background-image: url(..//img/smile.png);
		background-repeat: no-repeat;
		background-position: right;
		background-size: contain;
		margin: 3% 0;
	}
	
	/* Front Page Section */
	.text1 {
		grid-template-columns: 1fr 1fr;
		margin: 0 15% 2%;
	}
	
	.text1 article {
		padding: 1rem;
	}
	
	.text1 h2 {
		margin: -1vh 0 0;
	}
	
	.text1 h2, .text1 p {
		padding-right: 20%;
	}
	
	.text1 ul {
		padding: 0 0 0 1vw;
	}
	
	/* Text Section (kontakt + nyhed) */
	.text2 {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 4%;
		padding: 0;
		margin: 5vh 5vw;
		background-image: url(..//img/smile.png);
		background-repeat: no-repeat;
		background-position: right;
		background-size: contain;
	}
	
	.text2 h2 {
		margin: 0;
	}
	
	.text2 p {
		padding-right: 10vw;
	}
	.text2 h2, .text2 p {
		padding-right: 40%;
	}
	
	.text2 img {
		width: 100%;
		height: auto;
	}
	
	#kontakt1 {
		display: none;
	}

	#kontakt2 {
		display: block;
	}
	
	.text2 form {
		padding: 0 20vw 0 0;
	}
	
	/* Text Section (omos + behandling + job + forskning) */
	.text3 {
		padding: 2%;
		margin: 2% 10%;
		background-color: #EEEEEE;
		background-image: url(..//img/smile.png);
		background-repeat: no-repeat;
		background-position: right;
		background-size: contain;
	}

	.text3 h1 {
		font-size: 3rem;
	}
	
	.text3 p {
		margin-right: 8%;
	}
	
	/* Drop Down Section */
	.dropdown {
		padding: 2%;
		margin: 2% 10%;
	}
	
	.droph2 {
		color: var(--white);
		margin: 1.5% 0;
		padding: 1%;
		border-radius: 20px;
		font-size: 1.5rem;
	}
	
	.droph4 {
		color: var(--black);
		padding: 1%;
		margin: 2% 4% 2% 0;
		border-radius: 15px;
	}
	
	.droptext {
		width: 95%;
		margin-left: 1%;
	}

	.dropNoUl {
		margin-left: 4.5%;
		width: 93%;
	}
	
	/* Footer */
	footer {
		grid-template-columns: 3fr 1fr;
		text-align: left;
		padding: 2% 6%;
	}
	
	#footbox {
		grid-template-columns: 1fr 1fr;
		font-size: 1rem;
		grid-gap: 0;
	}
	
	#footbox2 {
		display: grid;
		grid-template-columns: 1fr;
	}
	
	#footsec1 {
		display: grid;
		grid-template-columns: 1fr 1.2fr;
		grid-gap: 15%;
	}
	
	#footsec2 {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 13%;
	}
	
	#footsec1 img {
		width: 100%;
		height: auto;
		margin-left: 150%;
	}
	
	#footsec2 img {
		width: 100%;
		height: auto;
		margin: 15% 0 0;
	}
	
}

